certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cvlib==0.2.7
gTTS==2.5.1
idna==3.7
imageio==2.34.1
imutils==0.5.4
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python-headless==4.9.0.80
pillow==10.3.0
progressbar==2.5
PyAudio==0.2.14
pygame==2.5.2
requests==2.31.0
urllib3==2.2.1
